.name{
           color: #fd6e0a;}
nav ul{
            list-style-type: none;display: flex;align-items: center; }
 nav ul li a{
            text-decoration: none;color: #474747;}
nav ul li{
           margin-right: 51px; }
nav{
             display: flex; align-items: center;justify-content: space-between; }
.button-color{ 
             background-color: #fd6e0a;color: white;border-radius: 5px;border: none;font-size: 20px; 
            font-weight: bold;padding: 18px 35px; }
.header{

             background-image: url('../images/developer.png'),url('../images/header_bg.png');
             background-color: #FFF8F3;
             background-repeat: no-repeat;
             background-position:top left,bottom right ; 
            }
.top{
            justify-content: space-between;
             display: flex; }
.top-sen{
             font-family: "Sen", sans-serif;
             font-optical-sizing: auto;
             font-weight: jweight>;
             font-style: normal;}
.atik{
    margin-left: 200px;
    font-weight: 800;
    font-size: 45px;
}  

.mary-description{
    margin-left: 200px;
}
.greetings{

    font-weight: 600;
    font-size: 45px;
}
.para{
    font-weight: 400;
    font-size: 18px;

}
.hardy{
   font-weight: bold;
    font-size: 85px;
}
.about{
    display: flex;
   justify-content: space-around;
   text-align: center;
   background-color:#ffffff ;
}
.about-me{
    
   text-align: center;
   padding: 100px 200px 100px 200px;
   background-color: #FFF8F3;
   margin: 100px 300px 100px 300px;
}
.whatido{
    text-align: center;
    padding: 10px 300px 5px 300px;
    margin:0px  345px 0px 345px ;
    
}
.about-me-main{
    background-color: #ffffff;
    border: 2px solid black;
}
.three{

  display: flex;
  text-align: center;
  padding: 10px 200px 10px 200px;
  margin: 10px 200px 10px 200px  ;
  justify-content: space-around;

}
.all-div{

    display: flex;
    justify-content: space-around;
    margin: 10px 200px 10px  200px;
    padding: 10px 200px 10px 200px;
}
.div{
    background-color: #fcddc7;
    margin: 20px;
    padding: 15px;
    text-align: justify;
}


.resume{
    display: flex;
    margin: 30px 200px 30px 200px ;
}
.my{
   margin: 30px 200px 30px 200px  ;
}
.head{
    text-align: center;

}
.cv{
     background-color: #fd6e0a;
     color: white;
     border-radius: 5px;
     border: none;
     font-size: 20px;       
     font-weight: bold;
     padding: 18px 35px;
     text-align: center; 
     
     }
   .footer{
    display: flex;
    justify-content: space-between;
    background-color: #FFF8F3;
    padding: 200px;
    border: none;
   }

.submit{
    background-color: #fd6e0a;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
}
.cv-{
    text-align: center;
}